@import "./layout/mobile";
@import "./layout/tablet";
@import "./layout/desktop";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// extend
%dis-flex-jus-center{
    display: flex;
    justify-content: center;
}
